@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
  }
  
  .thin-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 4px;
  }
}